body {
    background-color: #22254b;
}

.app-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
}

.movie_container{
    width: 250px;
    background-color: #373b69;
    margin:16px;
}

.movie_container img{
    width:250px;
}

.movie-info{
    display: flex;
    padding:10px;
    justify-content: space-between;
    align-items: center;
    color:white;
}

.movie-info span{
    margin:3px;
}